@font-face {
    font-family: 'Pixels';
    src: url('../fonts/Retro\ Gaming.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-principal: #02b3d8;
    --color-principal-darker: #014756;
    --color-principal-dark: #017d97;
    --color-principal-light: #69d4ee;
    --color-principal-lighter: #d0f2fa;
    --color-accent-danger: #d82702;
    --color-accent-warm: #ff6845;
    --color-accent-success: #02d884;
    --color-accent-info: #0256d8;
    --color-bg-main: #f2f8f9;
    --color-border-light: #dce8eb;
    --color-text-muted: #6b8388;
    --color-text-main: #102428;
    --color-secundario-claro: #43e0ff;
    --color-secundario-oscuro: #02385d;
    --fuente-principal: 'Pixels', cursive;

    scroll-behavior: smooth;
    scrollbar-color: var(--color-principal-light) var(--color-principal-darker);
}

* {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    padding-top: 100px;
    cursor: cell;
    overflow-x: hidden;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--color-principal-light);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    box-sizing: border-box;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

header.down {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid var(--color-principal-light);
}

header h1 {
    color: var(--color-principal);
}

header a {
    text-decoration: none;
}


header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav li a {
    color: var(--color-principal);
    text-decoration: none;
}

nav li a:hover {
    color: var(--color-principal-lighter);
    cursor: cell;
}

section .titulo {
    text-align: center;
    text-shadow: 0px 0px 20px var(--color-principal-light);
    padding-bottom: 25px;
    font-size: 2.2rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

article.diary {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    padding: 2rem;
    border-radius: 8px;
    margin: 1rem;
    border: 3px solid var(--color-principal-darker);
    box-shadow: 0px 0px 30px var(--color-principal-lighter);
}

article.diary h3 {
    margin-top: 0px;
}

article.diary p {
    flex-grow: 1;
}

article.diary button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid var(--color-principal-dark);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

article.diary button:hover {
    background-color: var(--color-principal-darker);
    color: var(--color-bg-main);
    border: 2px solid var(--color-principal-lighter);
    cursor: cell;
}

section.diaries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

section.diaries h2 {
    color: var(--color-principal-light);
}

section.diaries div.grid {
    gap: 20px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    align-items: stretch;

}

@media (max-width: 1300px) {
    section.diaries div.grid {
        gap: 20px;
        grid-template-columns: repeat(1, minmax(100px, 2fr));
        align-items: stretch;
    }
}


span.frontend {
    color: rgb(25, 179, 25);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

span.game {
    color: rgb(228, 27, 27);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

span.docs {
    color: rgb(135, 25, 179);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

span.bug {
    color: rgb(236, 28, 255);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

span.quality-increase {
    color: rgb(0, 153, 255);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

span.testing {
    color: rgb(85, 60, 7);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

span.planning {
    color: rgb(255, 166, 0);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


section {
    margin: 2rem;
    margin-bottom: 100px;
}

section#intro {
    position: relative;
    background-image: url('../img/banner2.jpg');
    background-position: bottom;
    background-size: cover;
    text-align: center;
    margin: 0;
    margin-top: -40px;
    margin-bottom: 100px;
    padding: 14rem;
    border-bottom: 4px solid var(--color-principal);
    border-radius: 8px;
    z-index: 1;
}



section#intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 120, 255, 0) 10%);
    z-index: 2;
    pointer-events: none;
}

section#intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 120, 255, 0) 80%);
    z-index: 2;
    pointer-events: none;
}

section#intro h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    position: relative;
    text-shadow: 0px 0px 20px var(--color-principal-darker);
    z-index: 3;
}

section#intro p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    position: relative;
    text-shadow: 0px 0px 20px var(--color-principal-darker);
    z-index: 3;
}

section#intro button {
    position: relative;
    margin-top: 1rem;
    margin-bottom: -2rem;
    font-size: 20px;
    z-index: 3;
    border: 2px solid var(--color-principal-dark);
    border-radius: 8px;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}

section#intro button:hover {
    background-color: var(--color-principal-dark);
    color: var(--color-bg-main);
    border: 2px solid var(--color-principal-lighter);
    cursor: cell;
}

section#design {
    margin-left: 25%;
    margin-right: 25%;
}



section#design .grid {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    gap: 2rem;
}




.more-diaries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
}

.more-diaries button {
    padding: 18px 32px;
    font-size: 18px;
    border: 3px solid var(--color-principal-dark);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.more-diaries button:hover {
    background-color: var(--color-principal-darker);
    color: var(--color-bg-main);
    border: 3px solid var(--color-principal-lighter);
    cursor: cell;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.box {
    background: var(--bg-card);
    padding: 2rem;
    border: 2px solid var(--color-principal);
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 1%;
    box-shadow: 0 0 10px var(--color-principal);
}

.box:nth-child(odd) {
    background-color: #1a1a1a;
}

.box:nth-child(even) {
    background-color: #444444;
}

.box:hover {
    transform: scale(1.02);
}

.box h3 {
    color: var(--color-secundario-claro);
    margin-bottom: 1rem;
    font-family: var(--fuente-principal);
}

.box a {
    text-decoration: none;
}

.box button {
    background-color: var(white);
    color: var(--color-secundario-oscuro);
    border: 0px;
    border-bottom: 4px outset var(--color-principal);
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.box button:hover {
    background-color: var(--color-secundario-oscuro);
    color: white;
    cursor: cell;
}

.box button:active {
    border-bottom: 4px inset var(--color-secundario-claro);
    cursor: cell;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid var(--color-principal);
    padding: 50px;
    margin-top: 50px;
    font-size: 20px;
}

footer .grid {
    gap: 35px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer .logo img {
    width: 80px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

footer .links ul {
    list-style: none;
}

footer .links a {
    color: var(--color-principal);
    text-decoration: underline;
}

footer .links li {
    margin-bottom: 10px;
}

.author {
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
}