@font-face {
    font-family: 'Pixels';
    src: url('../fonts/Retro\ Gaming.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Animated';
    src: url('../fonts/Oups.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'California';
    src: url('../fonts/California.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-principal: #02b3d8;
    --color-secundario-claro: #02b3d8;
    --color-secundario-oscuro: #02385d;
    --fuente-principal: 'Pixels', cursive;
    --fuente-animated: 'Animated', cursive;
    --fuente-california: 'California', cursive;
}

* {
    font-family: var(--fuente-principal);
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    padding-top: 100px;
}

@keyframes dotsAnimation {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Added horizontal padding */
    border-bottom: 2px solid var(--color-principal);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    /* Default background */
    box-sizing: border-box;
    /* Ensure padding includes in width */
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

header.down {
    background-color: rgba(0, 0, 0, 0.8);
    /* Transparent background on scroll */
    border-bottom: 1px solid var(--color-principal);
    /* Optional: thinner border */
}

header h1 {
    color: var(--color-principal);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav li a {
    color: var(--color-principal);
    text-decoration: none;
}